Weekly_report_generator.txt
{
  "name": "Weekly report generator",
  "nodes": [
    {
      "parameters": {
        "content": " \nSchedule (Every week, Monday, at 9am) → Google Sheets data pull → Email summary",
        "height": 80,
        "width": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        -384
      ],
      "typeVersion": 1,
      "id": "304a1126-032b-4eff-bf9c-2582ab4bf427",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1104,
        -272
      ],
      "id": "4834d7d1-b57f-4919-bb69-f60ab89b0424",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Sample Spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": 162337794,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/GOOGLE_SHEET_ID"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -896,
        -272
      ],
      "id": "d4befe81-22ce-4cb9-a237-b51844503ac7",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "invoice_amount"
            },
            {
              "aggregation": "average",
              "field": "invoice_amount"
            },
            {
              "aggregation": "sum",
              "field": "invoice_amount"
            },
            {
              "aggregation": "max",
              "field": "invoice_amount"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -448,
        -272
      ],
      "id": "4dff5a0c-f0bb-4287-a6f3-4311be094fc2",
      "name": "Summarize"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant that writes concise email reports.\n\nSummarize the paid invoices from the last 7 days using the following metrics:\n\nInvoice Count: {{ $json.count_invoice_amount }}\nAverage Invoice Amount: {{ $json.average_invoice_amount }}\nTotal Revenue: {{ $json.sum_invoice_amount }}\nHighest Invoice Amount: {{ $json.max_invoice_amount }}\n\nGenerate a short, professional email summary.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1072,
        -48
      ],
      "id": "2d5d33d9-2aa9-4a2e-8ad8-b2234eff58ae",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1072,
        128
      ],
      "id": "da0a021d-d568-44ea-a78f-81181c80cfb8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "This Week Report",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -736,
        -48
      ],
      "id": "4edb1f10-562d-4068-bcfb-d33f99cc7b2e",
      "name": "Send a message",
      "webhookId": "WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c80b634-b423-427e-9788-95dcb0d3c2af",
              "leftValue": "={{ $json.data }}",
              "rightValue": "={{ $today.minus({ days: 7 }).toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -672,
        -272
      ],
      "id": "b010364e-a53d-4c9f-ac3f-4dc3705a638a",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "709766b2-0bcc-49c0-b390-6910bca903aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REMOVED_FOR_GITHUB"
  },
  "id": "7GBDzvhTOfR9YhTK",
  "tags": []
}